<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2013 Oliver Weissbarth
  
  This file is part of Slate.
  
      Slate is free software: you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
  
       Slate is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.
  
      You should have received a copy of the GNU General Public License
      along with  Slate.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.oweissbarth.slate"
    android:installLocation="auto"
    android:versionCode="10"
    android:versionName="0.10" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon200"
        android:label="@string/app_name"
        android:theme="@style/Theme.Slate" >
        <activity
            android:name="de.oweissbarth.slate.IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.oweissbarth.slate.NewProject"
            android:label="@string/title_activity_new_project" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.ProjectTab"
            android:label="@string/title_activity_project_tab" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.EquipmentTab"
            android:label="@string/title_activity_equipment_tab" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.EditScene"
            android:label="@string/title_activity_edit_scene" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.EditShot"
            android:label="@string/title_activity_edit_shot" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.EditTake"
            android:label="@string/title_activity_edit_take" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.EditCamera"
            android:label="@string/title_activity_edit_camera" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.EditLens"
            android:label="@string/title_activity_edit_lens" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.EditMedia"
            android:label="@string/title_activity_edit_media" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.TakeShowInfo"
            android:label="@string/title_activity_running_take"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.TakeWaiting"
            android:label="@string/title_activity_take_waiting"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.TakeRunning"
            android:label="@string/title_activity_running_take"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.TakePost"
            android:label="@string/title_activity_take_post"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.Help"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="de.oweissbarth.slate.support.ThreePosListAdapter"
            android:label="@string/title_activity_three_pos_list_adapter" >
        </activity>
    </application>

</manifest>
